@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


  :root {
    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", sans-serif;
    --font3: "Sriracha", 'cursive';

}
  

* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: darkgray;
    height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
     
    }
header h1 {
    padding-top: 50px;
    font-variant: small-caps;
     font-size: 10vw;
    text-align: center;
    font-family: var(--font2);
}
header p {
    padding-bottom: 50px;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color: white;
}
a:hover {
    text-decoration: underline;
}

section {
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2vw;
    line-height: 2em;
    font-family: var(--font3);
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(34, 34, 34, 0.705);
    color: white;
     background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem p {
    background-color: rgba(0, 0, 0, 0.301);
    display: inline-block;
    padding: 5px;
}
section p {
    padding: 15px 0px;
}
section#img1 {
    background-image: url('../imagens/background001.jpg');
   
}
section#img2 {
    background-image: url('../imagens/background002.jpg');
    box-shadow: inset 1px 2px 9px black;

}
footer {
    background-color: black;
    color: white;
    font-size: 2vw;
    padding: 10px;
    text-align: center;
}